{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container-flex home">
    <h2>Vous souhaitez effectuer votre première <span>recherche ?<span></h2>
    <h3>Accéder à notre outil de recherche ci-dessous</h3>
    <div class="image-home">
        <img src="{{ asset('img/outil-recherche.png') }}" alt="Screenshot de l'outil de recherche">
        <a href="{{ path('recherche') }}" class="link-to right">
            Outil de recherche de biens immobiliers
            <i class="fa-solid fa-circle-arrow-right"></i>
        </a>
    </div>
</div>
{% endblock %}
