{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <div class="container">
        <h1>Annonces</h1>
        <div class="container-flex">
        {% for offre in offres %}
            {% include('_parts/offre.html.twig') %}
        {% endfor %}
        
        </div>
    </div>

{% endblock %}
