<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Facile Immo - {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% block stylesheets %}{% endblock %}

        <script src="{{ asset('js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </head>
    <body>
        {% include('_parts/navbar.html.twig') %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
