<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Facile Immo - {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% block stylesheets %}{% endblock %}

        <script src="{{ asset('js/main.js') }}"></script>
        <script src="https://kit.fontawesome.com/4549f0d59d.js" crossorigin="anonymous"></script>

    </head>
    <body>
        {% include('_parts/navbar.html.twig') %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/like-offre.js') }}"></script>
        <script src="{{ asset('js/dislike-offre.js') }}"></script>
        
        <footer>
            <ul>
                <li><a href="">Accueil</a></li>
                <li><a href="">Comment acheter ?</a></li>
            </ul>
        </footer>
    </body>

</html>
