{% extends 'base.html.twig' %}

{% block title %}Comment acheter ?{% endblock %}

{% block content %}
<div class="container-flex">

	<p>L’achat de votre résidence principale est dans la majorité des cas la première pierre de votre patrimoine. Posséder son chez-soi propose de nombreux avantages en ce qu’il vous permet principalement de ne pas payer de loyer tout en capitalisant grâce au remboursement de votre prêt immobilier.</p>
	
	<h2>Pourquoi acheter sa résidence principale ?</h2>
	<p>Pour comprendre l’intérêt de l’achat de votre résidence principale, il convient de faire une étude comparative. Puisque vous devez bien vivre quelque part deux options tangibles s’offrent à vous : acheter ou louer votre résidence principale. Notre analyse portera sur la base de comparaison d’une location nue.</p>
	<div class="image">
		<img src="{{ asset('img/acheter/clé-bien.jpg') }}" alt="Clés d'un bien immobilier">
	</div>

	<h2>Se constituer un patrimoine tangible et économiser les loyers</h2>
	<p>Contrairement à la location de votre résidence principale, si vous achetez votre résidence principale, vous bénéficiez de deux avantages notables :</p>
	<ul>
		<li>Vous vous constituez un patrimoine immobilier </li>
		<li>Vous économisez les loyers d’une éventuelle location</li>
	</ul>
	<p>L’achat de résidence principale est un levier pour faire croître votre patrimoine. Certes un patrimoine immobilier génère quelques charges supplémentaires d’entretien et le paiement de la taxe foncière mais ce bien peut être utilisé comme hypothèque pour obtenir des prêts plus facilement.</p>
	<p>L’autre argument pour l’achat de votre résidence principale réside dans l’économie d’un loyer qui est une charge importante de votre budget. Cette charge est une perte sèche contrairement à une mensualité de prêt qui est en quelque sorte une épargne forcée : chaque mois vous remboursez une partie du capital venant augmenter votre patrimoine immobilier net.</p>

	<h2>Capitaliser sur votre résidence principale grâce au prêt immobilier</h2>
	<p>L’atout majeur de l’achat de votre résidence principale tient à la possibilité de recourir au crédit immobilier.</p>
	<p>Si instinctivement on aurait tendance à penser que l’endettement est une mauvaise chose, il peut néanmoins s’avérer être une source formidable d’enrichissement. C’est d’ailleurs la raison majeure pour laquelle certaines personnes ont su faire fortune rapidement dans l’immobilier. </p>
	<p>En effet, un prêt immobilier sur votre résidence principale vous permet de démultiplier la rentabilité de votre investissement. On appelle cela l’effet levier immobilier.</p>
	<div class="image">
		<img src="{{ asset('img/acheter/achat-pret-immobilier.jpg') }}" alt="Effet levier immobilier">
	</div>
	<p>Pour vous exposer ce mécanisme, disons que vous avez acheté votre résidence principale à 100 000 euros (frais de notaire compris) avec un apport de 10 000 euros. Vous avez donc emprunté 90 000 euros sur 20 ans que vous remboursez chaque mois à hauteur de 440 euros / mois environ. 6 années plus tard, vous réussissez à revendre votre bien 110 000 euros soit 10 % plus cher.</p>
	<p>Vous avez donc gagné 10 000 euros en investissant seulement 10 000 euros soit une rentabilité brute de 100 % ou 17 % / an ! La plus-value sur la vente d’une résidence principale est totalement exonérée d’impôts et prélèvements sociaux.</p>

</div>
{% endblock %}
